main {
    padding: 48px 20px;
}

main ul {
  max-width: 1400px;
  margin: 0 auto 48px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
}

main li {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-light);
  box-shadow: 0 5px 20px var(--shadow-light);
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark-mode main li {
    background-color: var(--card-bg-dark);
}

main li:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px var(--shadow-light);
}

main li img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.item {
  padding: 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.item h2 {
  font-weight: 600;
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}

.item p {
    line-height: 1.7;
    margin-bottom: 20px;
    color: #6c757d;
}

body.dark-mode .item p {
    color: #adb5bd;
}


.actions {
  text-align: end;
  margin-top: auto;
}

.actions a {
  text-decoration: none;
  color: var(--primary-red);
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.actions a:hover {
  background-color: rgba(217, 32, 39, 0.1);
}