#upper {
  height: 800px;
  background-image: url("/Info_Page_Website/images/places/Pagaruyung.jpg");
  background-position: center;
  background-size: cover;
}

#uppercontent {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0px auto;
    position: relative;
    top: 200px;
}

#uppercontent h1 {
    color: cornsilk;
    text-transform:uppercase ;
    font-size: 50px;
    font-family: "Raleway",sans-serif;
    margin: 0;
}

#uppercontent p {
    color:white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 32px;
}

#uppercontent a{
    text-decoration: none;
    background-color: rgb(255, 251, 0);
    padding: 12px 24px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);

}

#uppercontent a:hover{
    background-color: rgb(255, 230, 0);
}

#lower {
    padding: 24px;
    background: linear-gradient(0deg, rgb(227,225,253),rgb(202,243,240));
}

#lower h2{
    font-family: "Yellowtail",cursive;
    text-align: center;
    font-size: 50px;
    color: rgba(255, 217, 0, 0.918);
    margin: 12px 0 24px 0;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

#destinate {
    display: flex;
    width: 70%;
    margin: auto;
    margin-bottom: 40px;
    justify-content: center;
}

.target{
    margin: 0 20px;
}

.target p {
    text-align: center;
    text-transform: uppercase;
    color: rgb(124, 123, 123);
    margin: 20px 0;
}
.target img{
    height: 200px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit:cover;
}

.target strong{
    color: gold;
}